/**
 * Basic typography style for copy text
 */

@use '../abstracts/' as *;

body {
  font-size: to-rem(18);
  font-family: $ff-primary;
  font-weight: 500;
  color: clr('neutral', 500);
}

h1,
.h1 {
  font-size: minmax-font(24, 52);
  font-weight: 300;
  color: clr('neutral');
  letter-spacing: calc(-4 * 0.01em);
}

input,
input::placeholder {
  font-size: to-rem(16);
}
